<div class="containter stats-box col-10 offset-1">
  <div class="row">
    <div class="userheader col-4">
      <%= image_tag 'user.png', class:"userimage" %>
      <h3 class="pagetitle"><%= @user.email %></h3>
    </div>

    <div class="userstats col-8">
      <h5 class="subtitle">
        Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h5>
      <hr />
      <div class="containter">
          <h6 class="subtitle"><%= @user.comments.count %> &nbsp total comments &nbsp &nbsp | &nbsp &nbsp
          <%= @user.comments.where(rating: '5_stars').count %> &nbsp 5 star reviews</h6>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<hr />
<br />


<div class="usercomments">
  <h1 class="text-center">My Comments</h1>
  <br />
  <div class="containter">
    <div class="row">
      <% @user.comments.each do |comment| %>
      <div class="col-12 col-sm-6">
        <blockquote class="commentbox">
          <h2 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h2>
          <b><%= comment.humanized_rating %></b> &nbsp; - &nbsp; &nbsp;
              <%= comment.message %> 
              <br />
          -- &nbsp; <small><%= comment.user.email %></small>
        </blockquote>
      </div>
      <% end %>
    </div>
  </div>
</div>



<% @user.places.each do |place| %>
  <div class="places-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p>

    <% if place.user.present? %>
      <small><%= place.user.email %></small>

      <% if place.comments.present? %>
        <div class="col-12">
          <blockquote class="commentbox">
            <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> &nbsp; - &nbsp; &nbsp;
                <%= place.comments.last.message %> 
                <br />
            -- &nbsp; <small><%= place.comments.last.user.email %></small>
            <% end %>

          </blockquote>
        </div>
      <% end %>
      
    <% end %>
  </div>

<% end %>
  