<h1 class="pagetitle col-10 offset-1">Nomster by Alice</h1>

<% @places.each do |place| %>
  <div class="places-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p>

    <% if place.user.present? %>
      <small><%= place.user.email %></small>

      <% if place.comments.present? %>
        <div class="col-12">
          <blockquote class="commentbox">
            <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> &nbsp; - &nbsp; &nbsp;
                <%= place.comments.last.message %> 
                <br />
            -- &nbsp; <small><%= place.comments.last.user.email %></small>
            <% end %>

          </blockquote>
        </div>
      <% end %>
      
    <% end %>
  </div>

<% end %>
<div class="pagetitle col-10 offset-1">
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    
    <%= will_paginate @posts, :container => false %>
    
</div>
</div>